!__*__.*
!.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/

*.pyc
*.pyo
*.pyd
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# my files
handlers.txt
*_old.py
*_bad.py
*_new_and_bad.py

*!.py
*_.py
*_+.*


